<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
<script src="https://cdn.tailwindcss.com"></script>
<button class="btn btn-primary m-3 p-3"  onclick="window.location.href='/'">
  Back
</button>
<div class="container mx-auto mt-10 bg-white">
  <h2 class="text-2xl font-bold mb-4 text-center">Job Applications History</h2>

  <table class="min-w-full bg-white border border-gray-300 rounded-lg overflow-hidden">
    <thead class="bg-gray-200">
      <tr>
        <th class="px-4 py-2 border-2">Company</th>
        <th class="px-4 py-2 border-2">Role</th>
        <th class="px-4 py-2 border-2">Location</th>
        <th class="px-4 py-2 border-2">Email</th>
        <th class="px-4 py-2 border-2">Date</th>
      </tr>
    </thead>

    <tbody>
      {{#each data}}
      <tr class="text-center">
        <td class="px-4 py-2 border-2">{{this.company}}</td>
        <td class="px-4 py-2 border-2">{{this.role}}</td>
        <td class="px-4 py-2 border-2">{{this.location}}</td>
        <td class="px-4 py-2 border-2">{{this.email}}</td>
        <td class="px-4 py-2 border-2">{{this.date}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
